<div class="env-detail-panel shadow-z-2 panel panel-default">
  <div class="panel-body">
    <div class="container">
  	<div class="row">
  		<div class="col-sm-5">
  			{{#each env.pmsenvs as |pms|}}
  				{{#if pms.isCorpRoot}}
	  			<div>
	  				<span class="pms-name">{{pms.displayName}}</span>
	  				<span class="pms-detail"> - {{pms.version}}</span>
	  				<span class="pms-detail"> - {{pms.envName}}</span>
	  			</div>
	  			{{/if}}
			{{/each}}
            {{#if showStoreOverrides}}
			{{#if hasStoreOverrides}}
				Store Overrides
	  			{{#each env.pmsenvs as |pms|}}
	  				{{#if pms.storeOverrides}}
		  			<div>
		  				<span class="pms-name">{{pms.displayName}}</span>
		  				<span class="pms-detail"> - {{pms.version}}</span>
		  				<span class="pms-detail"> - {{pms.envName}}</span>
		  			</div>
		  			{{#each pms.storeOverrides as |overrides|}}
		  				<span class="pms-detail">{{overrides.facilityId}}</span>
					{{/each}}
		  			{{/if}}
				{{/each}}
            {{/if}}
            {{/if}}
  		</div>
  		<div class="col-sm-4">
		  	<div class="env-detail-name">
		    	{{env.name}}
		    </div>
		  	<div class="env-detail-text">
		    	{{env.version}}
		    </div>
	    </div>
  		<div class="col-sm-3">
  			Database
  		</div>
  	</div>
  	</div>
  </div>
</div>
