{{#pushy-left}}
  {{flyout-menu onMenuOptionChanged=(action onHeaderSelectionChanged)}}
{{/pushy-left}}
 
<div class="site-overlay"></div>
 
<div class="header-menu">
{{!--   <div class="menu-btn">&#9776; Menu</div>
 --}}  <i class="fa fa-navicon fa-2x menu-btn" title="Menu"></i>
</div>
{{!-- 
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div>
      <span class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
		<i class="fa fa-navicon fa-2x"></i>
      </span>
      <ul class="dropdown-menu">
        <li>{{menu-checkbox labelValue="Dev Environments" boxId="showDev"}}</li>
        <li>{{menu-checkbox labelValue="Non Prod Environments" boxId="showNonProd"}}</li>
        <li>{{menu-checkbox labelValue="Production Environments" boxId="showProd"}}</li>
        <li role="separator" class="divider"></li>
        <li>{{menu-checkbox labelValue="Show Store Level" boxId="showStoreLevel"}}</li>
     </ul>
   </div>
  </div>
</nav>
 --}}