{{!-- 
<div>
    <span class="pms-name">{{pms.displayName}}</span>
    <span class="pms-detail"> - {{pms.version}}</span>
    <span class="pms-detail"> - {{pms.envName}}</span>
</div>

 --}}
<div class="container">
<div class="row ">
    <div class="col-sm-4 pms-name">
    <div class="center-block">
        {{pms.displayName}}
    </div>
    </div>
    <div class="col-sm-4 pms-detail">
        {{pms.version}}
    </div>
</div>
</div>
